{% extends "tutorial/layout.html" %}
{% block content %}
<h1>OneDrive Directory</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Folder Name</th>
      <th scope="col">URL</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
    {% if events %}
      {% for event in events %}
        <tr>
          <td>{{ event.name }}</td>
		  <td>{{ event.webUrl }}</td>
		  <td>{{ event.id }}</td>
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}